
.iwj-job-taxonomy-page{
    .contents-main{
        padding-top:200px;
    
    

        .widget-area { 
            &.iwj-sidebar-2{
                background-color: $dkBlue;
        
        
                .widget-title{
                    span {
                        color:#fff;
                    }
            
                    &::after{
                        background: rgba(255,255,255,0.8);
                    }
                } 
                
                .iwj-overall-statistics{
                    background-image:none;
            
                    .overall-statistic-item{
                        .title{
                            color:#fff;
            
                        }
                    }
                }
        
            }
        
        }
    

        .grid-content{


            .job-item {
                .job-info{
                    padding-right:0px !important;
    
    
                    i {
                        color:$ltBlue !important;
                    }
    
                    h3{
                        margin:0 0 10px;
                        padding-left:14px;
                        padding-bottom: 10px;
                    }
    
                    .job-type{
                        &.small-6{
                            position: relative;
                        }
    
                        i {
                            margin-left:-2px;
                            border: none;
                            font-size: inherit;
                            color:inherit;
                            margin-right:6px;
    
                            &:hover{
                                background: transparent;
    
                                    }
    
                       
                            }
    
    
                    }
                    .thumbs-up{
                        right:-18px;
                        top:-10px;
    
    
                        i{
                            &:hover{
                                background:#FFD27F; 
                            }
                        }
                    }
    
                    .address{
                        a{
                            font-size: 11px;
                        }
                    }
    
    
                }
                .f-row{
                    .columns{
                        background-color: transparent;
                    }
                }
    
         
    
            .job-image{
                margin-top:0;
            }
    
           
            &.featured-item{
                .job-title{
                    a{
                        color: $Orange;
                    }
                }
            }
            }
    
    
             }   



  

    }


}

.tax-iwj_location{
    
    .page-heading { 
        .container-inner{
            padding-bottom:0;
            padding-top: 200px;
            background-color: #F1F1F1 !important;


            .row{
                .sp-banner-container{
                    @media screen and (min-width:640px){
                        padding: 6rem 0;
                    }


                    @media screen and (max-width:584px){
                        padding-bottom: 15px;

                    }
                }
            }
        }


        .find-jobs-title{
            width: 24%;
        }
    
    }


    .contents-main {
        padding-top: 40px;
    }

    .iwj-find-jobs {
        &.style2{
            background-color: #fff;
            padding-bottom: 50px;


            .trending-keywords{
                text-align: center;
            }

        }
    }  

}
   

/* save project thumbs up to button*/
.save-project {
    display: none;
    @media screen and (max-width:584px){
        display: inline-block;
        color: $ltBlue;
        font-weight: 600;
        height: 22px;
        line-height: 20px;
        padding: 0 15px;
        border: 1px #FFD27F solid;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        font-size: 12px;
        margin-top:25px;


        &:hover{
            background:#FFD27F; 
        }

    
   
    }

}




.thumbs-up{
    i{
        @media screen and (max-width:584px){
            display: none !important;
        }
    }
}




i{
    &.fa-thumbs-up{
        @media screen and (max-width:584px){
            display: none !important;
        }
    }
}


.relativee {
    position: relative !important;
}