.page-id-1360{
    &.page-job-categories{
        .contents-main{
            padding-top:90px;




        .row{
            &.f-row{
                &.categories-list{

                 .columns{
                     
                     background-color:#FAFAFA !important;
                     left:-15px;
                     

                 }
                }
            }
            }

        .category-div{
            .container{
                background-color: #FAFAFA;
            }
        }





        }
        
    }
}