.iwj-candidates-page {
    &.page-candidates{
        .contents-main{
            padding-top:200px;



        .ribbon-on-candidates-list{
                position: absolute;
                top:0;
                left:-300px;


                @media only screen and (max-width: 1200px) {
                    left:-250px;
                }

                @media only screen and (max-width: 990px) {
                    left:-2px;
                }

                @media only screen and (max-width: 640px) {
                    left:80%;
                }
                    
                }
                
                
        .iwj-sidebar-sticky{
                &.iwj-sidebar-1{
                    .widget-area{
                        padding-top:130px;
                        padding-bottom:85px;
                        padding-left:25px;
                        padding-right:25px
                    }

                }


            &.iwj-sidebar-2{
                    .widget-area{
                        padding-top:100px;
                        padding-bottom:85px;
                        padding-left:25px;
                        padding-right:25px
                
                    }

                }
            }

        .iwj-content{
            .vc_row{
                &.wpb_row{
                    .vc_column_container{
                        padding-top:50px;
                    }
                }
            }
        } 
        
        
        .iwj-candidates{
            &.iwj-listing{
                .candidate-item{
                    background-color: #f6f7f9;
                }
            }
        }


        & > div{
            .row{
                background-color: #fff;
            }
        }

        }
    }
}



.iwj-widget-jobs {
    .job-item{
         .job-info{ 
             .posted {
                 .job-cat {
                     color:$Orange;

                 }
            }
        }
    }
}

.iwj-widget-jobs {
    .job-item{ 
            .job-info{
                &:before{
                    background:$Orange;
                }
        }
    }
}


.iwj-candidates{
    &.iwj-listing{
        .candidate-info{
            i{
                color:$ltBlue !important;
            }

        }
    }
}

