/*very similar to the main search page css (search-jobs.scss) that targeted the sections of the header*/ 


.tax-iwj_cat{
    &.iwj-job-taxonomy-page{


        .page-heading { 
            .container-inner{
                padding-bottom:0;
                padding-top: 200px;
                background-color: #F1F1F1 !important;


                .row{
                    .sp-banner-container{
                        @media screen and (min-width:640px){
                            padding: 6rem 0;
                        }
                    }
                }
            }


            .find-jobs-title{
                width: 24%;
            }
        
        }


        .contents-main {
            padding-top: 40px;
        }

        .iwj-find-jobs {
            &.style2{
                background-color: #fff;
                padding-bottom: 50px;


                .trending-keywords{
                    text-align: center;
                }

            }
        }  



    }



}

/*search text*/

.iwj-find-jobs.style2 {
    .select2-container--default {
        .select2-selection--single {
            .select2-selection__rendered{
                color:#929497;
                opacity: 1 !important;
            }
        }
    }
}


.iwj-find-jobs{
    &.style2{ 
         form{
            .fields {
                .field-item{
                     input{
                         opacity:1 !important;
                        }
                    }
                }
             }
         }
    }