body.iwj-dashboard-page{
	background-color: #f6f7f9;
	.wrapper{
		background-color: #f6f7f9 !important;
		.iwj-dashboard{
			background-color: #f6f7f9;
			
			.sp-banner-container{
				padding-bottom: 0;
				@media screen and (min-width:640px){
					background-color: transparent !important;
				}
			}
			
			.iwj-dashboard-menu-mobile{
				width: 100%;
				.dropdown{
					.btn.btn-primary.dropdown-toggle{
						background-color: $Orange;
					}
					&.open{
						.btn.btn-primary.dropdown-toggle{
							background-color: $dkOrange;
						}
					}
				}
				ul.dropdown-menu{
					li{
						&.active{
							a{
								background-color: $ltBlue;
							}
						}
					}
				}
			}
			
			.iwj-dashboard-sidebar{
				background: none;
				.user-profile{
					background-color: #929497;
					border-bottom: 1px solid #fff;
					box-shadow: 0 0 25px 5px rgba(#000, .3);
					img{
						background: none;
						padding: 0;
						height: 90px;
						width: 90px;
					}
				}
				.iwj-dashboard-menu{
					background-color: #929497;
					box-shadow: 0 0 25px 5px rgba(#000, .3);
					ul{
						li{
							border-bottom: 1px solid #fff;
							position: relative;
							overflow: hidden;
							padding: 0;
							&:last-of-type{
								border-bottom: none;
							}
							a{
								color: #fff;
								position: relative;
								z-index: 5;
								transition: all ease-in-out .2s;
								display: block;
								padding: 1.5rem 1.5rem;
								i{
									transition: all ease-in-out .2s;
								}
							}
							&:before{
								position: absolute;
								content: '';
								height: 20rem;
								width: 20rem;
								z-index: 2;
								right: 117%;
								top: -125%;
								background-color: #fff;
								transform: rotate(45deg);
								transition: all ease-in-out .2s;
							}
							&.active{
								a{
									color: $dkBlue;
									i{
										color: $dkBlue;
									}
								}
								&:before{
									right: 25% !important;
								}
							}
							&:hover{
								a{
									i{
										color: $dkBlue;
									}
								}
								&:before{
									right: 100%;
								}
							}
						}
					}
				}
			}
			
			.iwj-dashboard-main{
				.iwj-dashboard-main-inner{
					background: none;
					padding: 2rem 1rem 1rem;
					.info-top-wrap{
						padding: 2rem;
						.sidebar-info{
							width: 20%;
							a.iwj-edit-profile{
								color: $dkBlue;
								border-color: $dkBlue;
								transition: all ease-in-out .2s;
								i{
									color: $dkBlue;
									transition: all ease-in-out .2s;
								}
								&:hover{
									color: #fff;
									background: $dkBlue;
									i{
										color: #fff;
									}
								}
							}
						}
						.main-info{
							width: 80%;
							.info-top{
								border: none;
								h3.iwj-title{
									text-transform: capitalize;
									a{
										color: $dkBlue;
									}
								}
								.headline{
									background: $dkBlue;
								}
							}
							.info-bottom{
								ul{
									li{
										.left{
											min-width: 5rem;
											i{
												color: $dkBlue;
											}
										}
										.content{
											address{
												font-style: normal;
												margin: 0;
												color: #333;
											}
										}
									}
								}
							}
						}
					}
					
					.iwj-submited-applications{
						.iwj-submited-applications-table{
							.iwj-table-overflow-x{
								table.table{
									thead{
										tr{
											th{
												color: $dkBlue;
											}
										}
									}
								}
							}
						}
					}
					
					.iwj-follows, .iwj-save-jobs, .iwj-vote-review{
						.iwj-search-form{
							form{
								span.search-box{
									float: right;
									button{
										background-color: $ltBlue;
										color: $white;
									}
								}
							}
						}
					}
					
					.iwj-alerts{
						.add-new-alert{
							text-align: right;
							a.iwj-btn{
								background: $dkBlue;
							}
						}
					}
						
					.iw-profile-content{
						.candicate-main-content{
							.resume-detail-info{
								padding: 0 3rem;
								.resume-block{
									padding: 4rem 0 3rem;
									border-bottom: 1px solid $Grey;
									.title{
										font-size: 2rem;
										color: $dkBlue;
									}
									ul.time-line{
										&:before{
											display: none;
										}
										padding-left: 5rem;
										li{
											&:before{
												border: none;
												background: none;
												border-radius: 0;
												content: url('../images/arrow_short2.png');
												left: -6rem;
												height: auto;
												width: auto;
												top: -.75rem;
											}
											.position-company{
												span.position{
													color: $ltBlue;
												}
											}
										}
									}
								}
							}
						}
					}
					
					//Begin Employer
					
					.iwj-overview{
						.info-top-wrap-employer{
							.employer-info{
								.columns{
									background: none;
								}
								.employer-contact{
									margin-bottom: 0;
									.empl-box{
										padding: 1rem 2rem;
										background: $white;
										color: $dkBlue;
										box-shadow: none;
										div.avatar{
											float: none;
											width: 130px;
											height: 130px;
											display: inline-block !important;
										}
										.empl-detail-info{
											margin-left: 0;
											display: inline-block;
											float: right;
											color: $dkBlue;
											h4{
												color: $dkBlue;
											}
											span{
												color: $dkBlue;
											}
											.empl-action-button{
												a{
													color: $dkBlue;
													border-color: $dkBlue;
													transition: all ease-in-out .3s;
													&:hover{
														color: $white;
														background: $dkBlue;
													}
												}
											}
										}
									}
								}
								.empl-info-jobs-listing{
									background: $ltBlue;
									border-radius: 4px;
									.f-row{
										height: 100%;
										.empl-info-jobs-item{
											.empl-box{
												background: none;
												padding: 0;
												box-shadow: none;
												.empl-small-detail{
													height: auto;
													width: auto;
													border: none;padding: 0;
													a{
														font-weight: bold;
													}
												}
											}
										}
									}
								}
							}
						}
						.iw-profile-content{
							.iwj-employerdl-content{
								.columns{
									background: none;
								}
								.employer-detail-container{
									.employer-recent-applier, .employer-avg-daily-viewers{
										box-shadow: none;
										.title-block{
											background: $white;
											color: $dkBlue;
											text-align: center;
											padding-top: 4rem;
											padding-bottom: 4rem;
											.count{
												span{
													color: $Orange;
												}
											}
											h3.info-title{
												text-transform: capitalize;
												color: $dkBlue;
												font-size: 1.5rem;
											}
										}
										.employer-main-applier, .employer-main-avg-views{
											.iwj-table-overflow-x{
												table{
													thead{
														tr{
															th{
																color: $white;
																background-color: $ltBlue;
															}
														}
													}
													tbody{
														tr{
															td{
																color: $dkBlue;
																a{
																	color: $dkBlue;
																}
																.avatar-name{
																	.avatar-candidate{
																		a.iwj-view-application{
																			img{
																				border-radius: 100%;
																			}
																		}
																	}
																	h5{
																		a{
																			color: $dkBlue;
																		}
																	}
																}
																.mail{
																	a{
																		color: $dkBlue;
																	}
																}
																.phone{
																	a{
																		color: $dkBlue;
																	}
																}
																&:last-child{
																	padding-right: 1rem !important;
																	padding-left: 1rem !important;
																}
															}
															&:nth-of-type(even){
																background: $ltGrey;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.iwj-new-job{
						.iwj-task-bar.job{
							ul{
								li{
									span{
										&.number{
											border-radius: 100%;
											font-size: 2rem;
										}
										&.desc{
											font-size: 1.5rem;
										}
									}
									&.no-active{
										color: $dkGrey;
										&:after{
											display: none;
										}
									}
									&.active{
										span{
											&.number{
												background: $dkBlue;
											}
											&.desc{
												color: $dkBlue;
											}
										}
										&:after{
											display: none;
										}
									}
								}
							}
						}
						.iwj-job-submit-form{
							h3{
								color: $dkBlue;
							}
							.iwjmb-label{
								label{
									color: $dkBlue;
									font-size: 1.5rem;
								}
							}
							.iwj-submit-btn{
								.iwj-button-loader{
									button.iwj-btn.iwj-btn-primary.iwj-btn-icon.iwj-submit-job-btn{
										background: rgba($Orange, .9);
										transition: all ease-in-out .3s;
										@media screen and (min-width:640px){
											&:hover{
												background: rgba($Orange, 1);
												opacity: 1;
											}
										}
									}
								}
							}
							.tokenfield.form-control{
								div.token{
									background: $ltBlue;
								}
							}
						}
						.iwj-sjob-step-package{
							form.iwj-select-package-form{
								h3{
									background: $ltBlue;
								}
							}
						}
					}
				}
			}
		}
	}
}

.iwj-job-action-btn{
	text-align: center;
	padding: 2rem;
	background: $offWhite;
	.iwj-btn-icon{
		font-size: 2rem;
		margin: 0 1rem;
		i{
			font-size: 2rem;
		}
	}
}

.iwj-avatar-container{
	.change-image-btn{
		button{
			background: $dkBlue !important;
			transition: all ease-in-out .3s;
			&:hover{
				background: $ltBlue !important;
			}
		}
	}
}

.iwj-select-cv-wrap{
	a.iwj-select-cv{
		background: $dkBlue !important;
		transition: all ease-in-out .3s;
		&:hover{
			background: $ltBlue !important;
		}
	}
	
	a.iwj-remove-cv{
		background: $Orange !important;
		transition: all ease-in-out .3s;
		&:hover{
			background: $dkOrange !important;
		}
	}
}

a.iwjmb-browse-button{
	color: #fff !important;
	transition: all ease-in-out .3s;
	&:hover{
		background: $dkOrange !important;
	}
}

.multiselect-container.dropdown-menu li.active span i {
   background-color: $ltBlue !important;
}

.iwj-dashboard-sidebar {
	&.Company{
		ul{
			li{
				&:nth-child(6){
					display: none;
				}
			}
		}
	}
} 
 
 

.iwj-dashboard{
	.profile{
		.modal{
			.modal-header{
				background: $ltBlue;
			}
		}
	}
}

.multiselect-container{
	&.dropdown-menu{ 
			li{
			&.active{ 
				span{ 
					i{
						background-color:$ltBlue;
					}
				}
			}
		}
	}
}





.employer-meta{ 
    .location { 
             	 i {
    			color: $dkBlue;
                 }
        }
}

/*hiding featured from 'my projects' tab in service provider*/

.iwj-dashboard-main-inner{
		.iwj-jobs{
			.iwj-jobs-table{
				.table {
					thead {
						tr{
							th{
							&:nth-child(7) {
							
				 		}
					}
				}

				}

				tbody{
					tr{
						&.job-item{
							.job-featured {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.iwj-dashboard-main .iwj-jobs .iwj-jobs-table table > thead > tr > th:nth-child(7) {display:none !important;}


.iwj-dashboard-main{
	.iwj-jobs{
		.job-meta{
			li{
				&.locations{
					i{
						color:$ltBlue;
					}
				}
			}
		}
	}
}


.job-action{
	
	.iwj-menu-action-wrap{
		.iwj-menu-action-inner{
			div{
				&:nth-child(3){
					display: none;
				}
			}
		}
	}
}
