.iwj-employers-page{
    .contents-main{
        padding-top:200px;




    .ribbon-on-candidates-list{
            position: absolute;
            top:0;
            left:-300px;


            @media only screen and (max-width: 1200px) {
                left:-250px;
            }

            @media only screen and (max-width: 990px) {
                left:-2px;
            }

            @media only screen and (max-width: 640px) {
                left:80%;
            }
                
            }


            .iwj-sidebar-sticky{
                &.iwj-sidebar-1{
                    .widget-area{
                        padding-top:130px;
                        padding-bottom:85px;
                        padding-left:25px;
                        padding-right:25px
                    }

                }


            &.iwj-sidebar-2{
                    .widget-area{
                        padding-top:130px;
                        padding-bottom:85px;
                        padding-left:25px;
                        padding-right:25px
                
                    }

                }
            }
            
            

            .iwj-content{
                .vc_row{
                    &.wpb_row{
                        .vc_column_container{
                            padding-top:50px;
                        }
                    }
                }
            }
            
            
            .iwj-employers{
                &.iwj-listing{
                    .iwj-employer-item{
                        background-color: #f6f7f9;
                    }
                }
            }


            & > div{
                .row{
                    background-color: #fff;
                }
            } 
            
            .widget-area { 
                &.sidebar-employers-2{
                    .iwj-overall-statistics{
                        background-image:none;
                        background-color: $dkBlue;
               
                        .overall-statistic-item{
                            .title{
                                color:#fff;
               
                            }
                        }
                    }
                }
            }       
            
            
    }
}