footer.iw-footer.iw-footer-default{
	background-color: #929497;
	color: #fff;
	.iw-footer-middle{
		padding-bottom: 0;
		border-bottom: none;
		.container{
			.row{
				.widget{
					ul.menu{
						li.menu-item{
							a{
								color: #fff;
								font-size: 2rem;
								font-weight: bold;
								border: none;
								padding: 1rem 0;
								margin-bottom: .5rem;
								display: inline-block;
							}
						}
					}
					&.widget_media_image{
						text-align: right;
						img{
							width: 100%;
							height: auto;
						}
					}
					&.widget_text{
						p{
							color: #fff;
							text-align: right;
							font-size: 2.5rem;
						}
					}
				}
			}
		}
	}
	.iw-copy-right{
		.container{
			.row{
				p{
					display: block;
					text-align: center;
				}
			}
		}
	}
}




/*social icons*/
	
.social-footer-icons {
	
	  li:last-of-type {
		margin-right: 0;
	  }
  

}

.iw-footer-middle{
	.container{
		.last{
			.textwidget{
				&.custom-html-widget{
					.social-footer-icons{	
						.menu{

							&.simple{
							display: flex !important;
							justify-content:center !important;
							align-items:center;

								li {
									padding-right:15px;


									.fa {
										font-size: 2.3rem;
										color:#efefef;

										&:hover {
											color: $ltBlue;
											transition: color 0.3s ease-in;
										}
									}

								}

							
							}
						
						}

					}
				}
			}
		}
	}
}

  
  