.row#contact-form{
	.columns{
		label{
			padding: 0 2rem;
			color: #003764;
			font-size: 1.5rem;
			font-weight: 200;
		}
		span{
			input, textarea{
				border: #003764 solid 2px;
				border-radius: 15px;
				color: #003764;
				font-size: 2rem;
				font-weight: 400;
				padding: 1.5rem 2rem;
				width: 100%;
				
				&::placeholder{
					color: #003764;
				}
			}
		}
		&.submit{
			input{
				border: none;
				background-color: $Orange;
				color: #fff;
				width: 100%;
				border-radius: 15px;
				font-size: 2rem;
				padding: 2rem;

			&:hover{
				background-color:$dkOrange;
			}
			}
		}
	}
}