#topper{
	background-image: url('../images/handshake-white.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding-top: 8rem;
	height: 40rem;
	position: relative;
	.row{
		padding-top: 6rem;
		@media screen and (min-width:640px){
				padding-top: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
		}
		.columns{
			position: relative;
			background-color: transparent !important;

	
			img{
				width:90%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
			h1{
				padding-top: 2rem;
				color: #003764;
				font-size: 6rem;
				line-height: 1;
				text-transform: uppercase;
				font-weight: 200;
				@media screen and (min-width:640px){
					padding-top:0;
				}
			}
			p{
				color: #457197;
				font-size: 2rem;
				&:nth-of-type(2){
					font-weight: 200;
					color: $Orange;
					font-style: italic;
					font-size: 1.5rem;
					@media screen and (min-width:640px){
						font-size: 2rem;
					}
				}
			}
			a.button{
				margin-top: 0rem;
				display: block;
				font-size: 3rem;
				@media screen and (min-width:640px){
					margin-top: 3rem;
				}
			}
		}
	}
}

.fullwidth{
	.regis{
		@media screen and (max-width:480px){
			display: none;

		}

	}
}


body.home{
	#topper{
		height: 100rem;
		max-height: 100vh;
		@media screen and (min-width:640px){
			padding: 0;
		}
		.row{
			
			
		}
	}
}
#tabs{
	.tab-box{
		.tabs{
			border: none;
			.small-5{
				padding: 2rem 0;
				a{
					font-size: 3rem;
					color: #003764;
					text-align: center;
					padding-top: 1rem;
					background-color: transparent;
				}
				&.is-active{
					a{
						border-bottom: solid 3px #003764;
					}
				}
			}
		}
		.tabs-content{
			border: none;
			.tabs-panel{
				.number{
					text-align: center;
					span{
						display: inline-block;
						margin: 0 auto;
						border: 2px solid $Orange;
						border-radius: 100%;
						font-size: 2rem;
						padding: .5rem 1.35rem;
						color: $Orange;
						font-weight: 600;
					}
				}
				.image{
					padding: 4rem 0;
					text-align: center;
					img{
						height: 15rem;
						width: auto;
						
					}
				}
				.description{
					text-align: center;
					font-size: 2rem;
					color: #003764;
					padding-bottom: 2rem;
				}
			}
		}
	}
	a.button{
		margin-bottom: 6rem;
		padding: 1.5rem 3rem;

		&:hover{
			background-color:$dkOrange;
			color:#fff;
		}
	}
}
#works{
	.bg-blue{
		border-radius: 25px;
		margin-bottom: 2rem;
		margin-top: 2rem;
		.columns{
			background: transparent;
			text-align: center;
			padding: 3rem 0;
			color: #fff;
			font-weight: 600;
			font-size: 2rem;
			img{
				height: 15rem;
				padding-bottom: 3rem;
			}
		}
	}
}



/*headers for about us,how it works,pre-registerpages*/

.page-how-it-works{
    #topper{
        background-image: url('../images/handshake-white.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding-top: 8rem;
        height: 30rem;
        position: relative;
        .row{
            @media screen and (min-width:640px){
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 130rem;
            }
            .columns{
                position: relative;
                background-color: transparent !important;
    
        
                img{
                    width:55%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-40%);
                    left:250px;
                }
                
               
                
            }
        }
    }
}

.page-about-us{
    @extend .page-how-it-works;

}

.page-pre-register {
    @extend .page-how-it-works;
}

.page-blog{
	@extend .page-how-it-works;
}
