.iwj-login-page{
    .contents-main{
        padding-top:200px;
    }


    .iwj-login{
        .sp-banner-container{
            margin: 0 auto;
            width:600px;
            left:-88px;
            top:-50px;
    
    
        
    
             @media screen and (min-width:640px) and (max-width:756px){  
                    left:-48px;
                }
    
    
            @media only screen and (max-width: 640px) {
            left:0;
    
            }
    
    
            
        }


        .iwj-form {
            .iwj-field {
             border: none;  
             position: relative; 
    
             .iwj-input{
                 padding-left:0;
             }
    
            svg{
            color:$ltBlue;
            }
    
            i{
            font-size:14px;
            left:30px;
             top:18px;
    
            }
    
    
            label{
            display: inline-block;
            margin-left:25px;
            color:$ltBlue;
                }
    
            input{
                border:1.5px solid $ltBlue;
                border-radius: 5px;
                padding-left:12px;
            }
    
            }
        }



        
    }

    .social-login{
        &.row{
            display: none !important;
        }
    }
}


