.projects-main-title{
    color:$ltBlue;
}



.projects-main-title{
    .iwh-description{
        display: none;
    }
}

.post-1485{

    .iwj-find-jobs{
        &.style2{
            margin-top:-50px;
        }
    } 

}

.top-categories{
    .vc_column-inner {
        .wpb_wrapper{
            .wpb_text_column{
                margin-bottom: 15px;
            }
        }
    }
}






.iwj-find-jobs{
    &.style2{
        form {
            .fields{
                .field-item{
                    &.key-word{
                        .field-content{
                            border: none;
                            background: rgba(247, 249, 249,1);
                            color: #ffffff;
                            -webkit-box-shadow: 0 3px 7px 0 rgba(0,0,0,0.15);
                            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);

                        }

                    }

                }
            }

        }

    }

}


.iwj-find-jobs{
    &.style2{
        form {
            .fields{
                .field-item{
                    .select2{
                        border: none;
                        background: rgba(247, 249, 249,1);
                        color: #ffffff;
                        -webkit-box-shadow: 0 3px 7px 0 rgba(0,0,0,0.15);
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
                    }

                }
            }
        }
    }
}

.iwj-find-jobs{
    .fields{
        .field-item{
            &.key-word{
                .field-content{
                    label{
                        color:$ltBlue;
                    }
                }
            }
        }
    }
}


.iwj-find-jobs{
    &.style2{
        form{
            .fields{
                .field-item{
                    label{
                        color:$ltBlue;

                    }
                }
            }
        }
    }
}



.field-item{
    &.key-word{
        .field-content{
            .input-select{
                input{
                    &::placeholder{
                        color:$Grey;
                    }
                }
            }

            
        }
    }
}


.iwj-find-jobs {
    form {
        .field-item-submit{
            button{
                background-color: $Orange !important;
            }
         }
    }        
}

.top-categories{
    margin-top:-60px;
}


.iwj-find-jobs {
    &.style2 {
        .trending-keywords{
             span{
                 color:$ltBlue;
                 }

             a{
                font-style:normal;
             }
        }
    }
}





.iwj-find-jobs{
    &.style2 {
        form{
            .fields{
                .field-item{
                    input{
                        color:$Grey;
                        opacity: 0.7;
                        &::placeholder{
                            color: $Grey;
                        }
                    }

                }

            }
        }
    
    }   
}

.iwj-categories{
    &.style1{

        .item-category{

            &.all-categories{
                background: $ltBlue !important;
            }

        background-color:$ltBlue;

        }

    }
}




.iwj-categories.style1 {
    .item-category:hover {
    background-color:#3B6080;
    }
}


.top-row-recent-jobs {
    .iw-tab-items-bg{
        &.iwj-magic-line{
            display: none;
        }
    }

}


.iwj-find-jobs{
    &.style2{
        .select2-container--default{
            .select2-selection--single{
                .select2-selection__rendered{
                    color:$Grey;
                    opacity: 0.8;
                }

            }

        }
    }
}


/*header*/

.iw-top-bar-wrapper{
     .top-bar-right{
          .register-login{
              &:after {
                  top:-4px !important;

              }
          }
        }
 }




/*job carasol*/


.owl-carousel{
    .owl-wrapper{
        .job-item {
            .job-info{
                padding-right:0;


                i {
                    color:$ltBlue !important;
                }

                h3{
                    margin:0 0 10px;
                    padding-left:14px;
                    padding-bottom: 10px;
                }

                .job-type{
                    &.medium-6{
                        position: relative;
                    }

                    i {
                        margin-left:-2px;
                        border: none;
                        font-size: inherit;
                        color:inherit;
                        margin-right:6px;

                        &:hover{
                            background: transparent;

                                }

                   
                        }


                }
                .thumbs-up{
                    right:-18px;
                    top:-10px;


                    i{
                        &:hover{
                            background:#FFD27F; 
                        }
                    }
                }

                .address{
                    a{
                        font-size: 11px;
                    }
                }


            }
            .f-row{
                .columns{
                    background-color: transparent;
                }
            }

     

        .job-image{
            margin-top:0;
        }

       
        &.featured-item{
            .job-title{
                a{
                    color: $Orange;
                }
            }
        }
        }
    }
}


.logo-fade{
    img{
    position: absolute;
    left: 25px;
    top: 15px;
    opacity: 0.1;
    width: 10rem;
    }
}



.job-item {
    .job-info {
          .job-type {
              .saved {
                      i {
                    background:#FFD27F;
              }
         }
      }
   }
}




/*tetsing*/

.theme-color {
    color: #457197!important;  //$ltBlue
}




