.iwj-register{
    margin-top:120px;

    .sp-banner-container{
        margin: 0 auto;
        width:600px;
        left:-70px;
        top:-50px;


    

         @media screen and (min-width:640px) and (max-width:756px){  
                left:-48px;
            }


        @media only screen and (max-width: 640px) {
        left:0;

        }


        
    }

    .iwj-form{
        max-width: 600px;

        .iwj-field{
            position: relative;
            border: 0;


            i{
            font-size:14px;
             left:30px;
             top:21px;
            }

            svg{
                color:$ltBlue;
            }
        
            label{
                display: inline-block;
                margin-left:22px;
                color:$ltBlue;
            }
            .iwj-input{


                input{
                border: 1.5px solid $ltBlue;
                border-radius: 5px;
                padding-left:10px;
                }

                padding-left:0;
                border:none;
                
            }
        } 
    }

}




.iwj-register-form{

    .iwj-magic-line {
        background:$ltBlue;
    }
}


.iwj-button-loader{
    &.iwj-register-btn{
        background:$ltBlue; 
    }
}

.iwj-button-loader{
    .iwj-register-btn{
        background: $ltBlue !important;
    }
}

.register-account {
    &.text-center{
        font-size: 16px;
    }

}


.iwj-register{
    .payment-buttons{
        text-align:center;
        padding-top:20px;

        label{
            color:$ltBlue;
            padding-bottom:25px;
            font-size: 1.5rem;

            input{
                top:3px;
                padding-left:10px;
            }
        }
    }

}




/*login popup*/


.iwj-login-form-popup{
    .iwj-form {
        .iwj-field {
         border: none;  
         position: relative; 

         .iwj-input{
             padding-left:0;
         }

        svg{
        color:$ltBlue;
        }

        i{
        font-size:14px;
        left:30px;
         top:18px;

        }


        label{
        display: inline-block;
        margin-left:25px;
        color:$ltBlue;
            }

        input{
            border:1.5px solid $ltBlue;
            border-radius: 5px;
            padding-left:12px;
        }

        }
    }
}

.form-field{
    .iwj-login-btn{
        background: $ltBlue;
    }
}


.iwj-login-form-popup {
    .modal-header{
       display:none;
    }
}


.rem-button-loader{
    background: $dkBlue;
}


.iwj-login-form {
    .iwj-divider{
        display:none;
    }
}


.iwj-login-form-popup{
    .social-login{
        &.row{
            display: none !important;
        }
    }
}


.iwj-login-form {
    .register-account{
        margin-top: 0;
    }
}


/*lost password page*/

.iwj-lostpass-page{
    .contents-main{
        padding-top:200px;
    }


    .lospass-text{
        background-color: #fff;
        text-align:center;
        padding-top:20px;
        padding-right:0;
        padding-left:0;
        padding-bottom:0;


        h3{
            margin-bottom:-5px;
            color:$ltBlue !important;
        }
    }
}