/*-- s2 Registration Form --*/
.page-template-registration-page-php{
	.fullwidth{
		padding-top: 8rem;
		@media screen and (min-width: 640px){
			padding-top: 12rem;
		}
	}
	#registration{
		padding: 6rem 1em 1rem;
		position: relative;
		div.s2member-pro-stripe-form-description-div{
			font-family: 'Questrial';
			text-align: center;
		}
		div.s2member-pro-stripe-form-section-title{
			font-family: 'Questrial';
			position: relative;
			background: none !important;
			&:before{
				position: absolute;
				top: 50%;
				right: 0;
				font-family: 'FontAwesome';
				transform: translateY(-50%);
			}
		}
		div.s2member-pro-stripe-checkout-form-options-section-title{
			&:before{
				content: '\f128'
			}
		}
		div.s2member-pro-stripe-form-registration-section-title{
			&:before{
				content: '\f007';
			}
		}
		div.s2member-pro-stripe-form-billing-method-section-title{
			&:before{
				content: '\f09d';
			}
		}
		div.s2member-pro-stripe-form-billing-address-section-title{
			&:before{
				content: '\f041'
			}
		}
		div.s2member-pro-stripe-form-custom-fields-section-title{
			&:before{
				content: '\f0f6'
			}
		}
		div.s2member-pro-stripe-form-submission-section-title{
			&:before{
					content: '\f00c'
				}
		}
		div.s2member-pro-stripe-checkout-form-submission-section, div.s2member-pro-stripe-registration-form-submission-section{
			div.s2member-pro-stripe-checkout-form-submission-section-title, div.s2member-pro-stripe-form-submission-section-title{
				&:before{
					content: '\f00c'
				}
			}
			div.s2member-pro-stripe-form-submit-div{
				float: none;
				text-align: center;
				button.btn.btn-primary{
					background-color: $Orange;
					border: none;
					border-radius: 15px;
					font-size: 2rem;
					padding: 1rem 2rem;
				}
			}
		}
	}
}
div.s2member-pro-stripe-form-response-error{
	background-image: none !important;
	position: relative;
	&:before{
		position: absolute;
		top: 50%;
		right: 1rem;
		font-family: 'FontAwesome';
		transform: translateY(-50%);
		content: '\f071';
		font-size: 2rem;
	}
}
