
.page-template-two-sidebar-page{
    &.page-id-656 {
        body{
        .page-heading { 
            .container-inner{
                background-color: #F6F7F9;
            }
        
        }

    }

    }
}





.page-template-two-sidebar-page{
    &.page-id-656 {
        
        .page-heading { 
            .container-inner{
                padding-bottom:0;
                padding-top: 200px;
                background-color: #F6F7F9 !important;


                .row{

                    .sp-banner-container{
                        @media screen and (min-width:640px){
                            padding: 6rem 0;
                        }
                    }


                    @media screen and (max-width:584px){
                        padding-bottom: 20px;
                    }
                }
            }


            .find-jobs-title{
                width: 24%;
            }
        
        }


        .contents-main {
            padding-top: 40px;
        }

        .iwj-find-jobs {
            &.style2{
                background-color: #fff;
                padding-bottom: 50px;


                .trending-keywords{
                    text-align: center;
                }

            }
        }       

    }
}


.widget-area { 
    &.sidebar-jobs-2{
        background-color: $dkBlue;


     .widget-title{
         span {
             color:#fff;
         }

         &::after{
            background: rgba(255,255,255,0.8);
        }
     } 
     
     .iwj-overall-statistics{
         background-image:none;

         .overall-statistic-item{
             .title{
                 color:#fff;

             }
         }
     }

    }

}

.iwj-widget-employers{
    .total-job{
        color:$Orange;
    }
}




.jobs-layout-form{ 
    form { 
       .layout-switcher { 
                       ul {
                             li{
                                 &:last-child {
                                 display:none;
                          }
             }
       }
   }
}
}


/*job list items*/

.page-template-two-sidebar-page{
    
    .grid-content{


        .job-item {
            .job-info{
                padding-right:0px !important;


                i {
                    color:$ltBlue !important;
                }

                h3{
                    margin:0 0 10px;
                    padding-left:14px;
                    padding-bottom: 10px;
                }

                .job-type{
                    &.small-6{
                        position: relative;
                    }

                    i {
                        margin-left:-2px;
                        border: none;
                        font-size: inherit;
                        color:inherit;
                        margin-right:6px;

                        &:hover{
                            background: transparent;

                                }

                   
                        }


                }
                .thumbs-up{
                    
                    right:-18px;
                    top:-10px;


                    i{
                        &:hover{
                            background:#FFD27F; 
                        }
                    }

                    @media screen and (max-width:1024px){
                        
                    right:-18px;
                    top:-10px;

                    i{
                       border:1px solid  #FFD27F;
                    }

                    }


                }

                .address{
                    a{
                        font-size: 11px;
                    }
                }


            }
            .f-row{
                .columns{
                    background-color: transparent;
                }
            }

     

        .job-image{
            margin-top:0;
        }

       
        &.featured-item{
            .job-title{
                a{
                    color: $Orange;
                }
            }
        }
    }
 }
    
}


.job-item {
    .job-info{ 
        .job-type{
            @media screen and (max-width:1024px){
                position: absolute;
            }

        }
    }
}

.job-item {
    .job-info {
          .job-type {
              .saved {
                      i{
                        background:$Orange;
                 }
            }
        }
     }
}