.single-iwj_candidate{
    .wrapper{
        .iwj-candicate-detail{
            padding-top:200px;
            padding-bottom:90px;
            padding-right:0;
            padding-left:0;


            .container{
                .row{
                    background-color: #fff;



                    .iwj-candidate-info-top{
                        background: none;
    
                        .bg-overlay{
                            background-color: rgba(140,196,238,0.2);
                        }
        
                        .info-top{
                    
                            .title-headline{
                                .candidate-name{
                                    color:$ltBlue;
                                    opacity:1;
                                }


                                .iwj-employerdl-shortdes{
                                    color:$ltBlue;
                                    opacity: 0.5;
                                }
                            }
                    
                            .candidate-info{
                                color:$dkBlue;
                                ul{
                                    li{
                                        font-style: normal;
    
                                        i{
                                            color:$dkBlue;
                                        }
                                    }
                                }
    
                                span,a {
                                    color:$dkBlue !important;
                                }
                            
                            }
                    
                            h3{
                                &.title{
                                    color:$dkBlue;
                        
                                }
                            }
    
                        
                                .iwj-button-loader{
                                    .follow{
                                        background-color:$dkBlue;
                                        color:#fff;
                                        
    
                                        &:hover{   
                                        border:1px solid $dkBlue;
                                        color:$dkBlue;
                                        background-color: transparent;
                                        }
                                    }
                                }
            
    
                           
                        
                        
                        }
                    }


















                }
            }

         .resume-detail-info{
             border-right:1px solid #efefef;
         }

        }
    }
}