



.iwj_employer-template-default{
    &.single-iwj_employer{
        .wrapper{
            .iwj-employer-detail{
                padding:200px 0;

                .container{
                background-color: #fff;

                .employer-info-top{
                    background: none;

                    .bg-overlay{
                        background-color: rgba(140,196,238,0.2);
                    }
    
                    .info-top{
                
                        .title-location{
                            .employer-headline{
                                color:$ltBlue;
                                opacity:1;
                            }
                        }
                
                        .employer-info{
                            color:$dkBlue;
                            ul{
                                li{
                                    font-style: normal;

                                    i{
                                        color:$dkBlue;
                                    }
                                }
                            }

                            span,a {
                                color:$dkBlue !important;
                            }
                        
                        }
                
                        h3{
                            &.title{
                                color:$dkBlue;
                    
                            }
                        }

                        .follow-button{
                            .iwj-button-loader{
                                .follow{
                                    background-color:$dkBlue;
                                    color:#fff;
                                    

                                    &:hover{   
                                    border:1px solid $dkBlue;
                                    color:$dkBlue;
                                    background-color: transparent;
                                    }
                                }
                            }
                        }
                        .social-links{
                     
                 
                        }    

                       
                    
                    
                    }
                }


            }
           
            .iwj-sidebar-sticky{
                .widget-area{
                    border:1px solid #eee;
                }
            }
           

            }

           
        }

    }
}



.info-top{ 
    .iw-social-all {
        &.hover-bg{
            margin: 32px 0 0;
            }
        }
}


.info-top{ 
        .iw-social-all{
            &.hover-bg{ 
                li{
                    margin-right:15px;
                a{ 
                    color:$dkBlue;
                    background: rgba(256, 256, 256, 0.9);

                    &:hover{
                        color:#fff;
                    }
                }
            }
        }
    }
}



.iwj_employer-template-default{
    &.single-iwj_employer{
        .iwj-employer-detail{
            .iwj-employer-review{
                .form-review-employer{
                    padding: 25px 40px 50px 15px;
                }

            }

        }

    }
}

.form-review-employer {
    .re-form-container {
        .re-post-form-submit{
            .iwj-review-btn{
                background: $ltBlue;
            }
        }
    }
}


.iwj_employer-template-default{
    &.single-iwj_employer{
            .job-item{
                border-bottom:1px solid #dfdfdf;

                .job-info{
                    .job-type{
                        a{
                            &.type-name{
                                display: none;
                            }
                        }


                        i{
                            color:#457197 !important;
                            
                            &:hover{
                                background: orange;
                            }
                        }    
                    }
                }

            }
    }
}





.iwj_employer-template-default{
    &.single-iwj_employer{
        .iwj-employerdl-content{
            .iwj-employer-detail {
                .iwj-employer-review {
                    padding:0 25px;
                }
            }
        }
        
    }

}




.iwj-employer-detail {
    .employer-info-top {
        .iwj-box-rating{
            background: rgba(0,0,0,0.8);
        }
    }
}