    .single-iwj_job{
        .wrapper{
                .contents-main{
                     &.iw-job-detail{
                            padding-top: 200px;
                        }
                    }
                .columns {
                    &.small-12{
                        &.medium-8{
                            &.sp-banner-container{
                                
                                }
                            }
                        }
                    }

                .iw-job-detail-sidebar{
                    .theiaStickySidebar{
                        .widget-area{
                        
                            
                            border-right:1px solid #eee;
                        }
                    }
                }
                
                .job-detail{
                    .job-detail-content{
                        .job-detail-about{

                            .item{
                                padding:25px 0 60px

                            }
            

                            .job-title-single-jobb{

                                                padding:10px 0;
                                

                            h3 {
                                font-weight: 700;
                                color:orange;
                                margin-left:-20px;
                            }

                            }



                        }


                    }
                }

                .iw-job-detail{
                    .container{
                            .col-sm-12{
                                &.col-xs-12{
                                    &.col-lg-8{
                                        &.col-md-8{
                                            float:right !important;
                                        }
                                    }
                                }
                            }
                        
                    }

                }

              

         

        }
    }


.arroww{
            background-color:$dkBlue;
            width: 120px;
            height: 30px;
            display: inline-block;
            position: relative;
            padding-left:8px;
            left:-20px;

         &:after {
            color:$dkBlue;
            border-left: 15px solid;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            display: inline-block;
            content: '';
            position: absolute;
            right: -15px;
                }

         &.color-one{
             background-color:#2774b2;

             &:after{
                 color:#2774b2;
             }
         }      
         
         
         &.color-two{
            background-color:#6a8ba5;

            &:after{
                color:#6a8ba5;
            }
        }       
        
          i{
              color:#fff;
            }

        .title{
            color:#fff;}
        }


.iw-job-detail{ 
                a{
                    &.save-job{
                        background-color:#547088;

                    }
                 }
}



.iw-job-detail {
    .action-button {
        border-bottom: 1px soild #f6f7f9;
        border-top:0;


        @media (min-width: 1000px) {
            margin-top:-50px;
  
        }        

        a{
            &.apply-job{
                background-color: $Orange;


            &.customapply{
                background-color: $dkOrange;
                
            }    
            }




        }
    }


    .socialsss{
        padding-bottom:30px;
    }
}


.iwj-single-contact-form {
    .iwj-contact-btn{
        background-color:#2774b2

    }
}

.iwj-job-widget-wrap {
    .headline{
        background-color: #828C95;
        }

        .company-link{
            a{
                font-style:normal;
                color:$ltBlue;
            }
        }    
}

.single-iwj_job{
    .contents-main{
        &.iw-job-content{
            .container{
                background-color:#fff;
            }

        }
    }
}





.single-iwj_job{
    .contents-main{
        .job-item {
            .job-info{
                .job-type{
                    i{
                        color:#457197 !important;
                        
                        &:hover{
                            background: orange;
                        }
                    }
                }

            .isfeatured{
                position: absolute;
                top:2px;
                right:30px;
                
                i{
                    color:orange;
                }
            }    
            }
        }
    }
}


.single-iwj_job{
    .contents-main{
        .iwj-listing{
            .job-item{
                border-bottom:1px solid #dfdfdf;

                .job-info{
                    .job-type{
                        a{
                            &.type-name{
                                display: none;
                            }
                        }
                    }
                }

            }
        }

    }
}

.job-item {
    .job-info {
        .address {
            i {
                color:$ltBlue;
            }
        }

        i{
            color:$ltBlue;
        }
    }
}


.job-item{
    &.featured-item{
         .job-title{ 
             a{
                 color:$Orange;
            }
         }
        }
    }






.single-iwj_job{
        .contents-main{
               .job-detail-content{
                  .action-button{
                           .button {
                           text-align:center;
                              }
                         }
                   }
             }
   }
       


   .iwj-thankyou-page .success-txt > p {
	text-align: center;
}

   .iwj-thankyou-page .success-txt > span.job-pending{
    color:$ltBlue;
    display:block;
    }

    
.iwj-thankyou-page .success-txt > span.job-publish{
    color:$ltBlue;
    display:block;
    }
   
   


/*popup modal*/

.iw-job-detail {
    .modal-header{
        background: $ltBlue;
    }
}

.iwj-employer-detail {
    .modal-header{
        background: $ltBlue;
    }
}

.iwj-candicate-detail {
    .modal-header{
        background: $ltBlue;
    }
}

.iwj-application-form {
    &.iwj-popup-form{
        .modal-body{
            padding-top:130px;
            padding-bottom:30px;
            padding-right:30px;
            padding-left:30px;
        }



        .modal-header{
            display: none;
        }

        .sp-banner-container{
            position: absolute;
            top:0;
            left:0;
        }
    }
}





.isfeatured{
    @media screen and (max-width:584px){
        display: none !important;
    }

}