/*-- SLIDERS --*/

// Testimonial Slider

.testimonial-slider{
	background-color: #fff;
	max-height: 80vh;
	overflow: hidden;
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 5rem;
		z-index: 5;
		color: $ltBlue;
		opacity: 0;
		transition: all ease-in-out .3s;
		&.slick-prev{
			left: -10rem;
		}
		&.slick-next{
			right: -10rem;
		}
	}
	ul.slick-dots{
		position: absolute;
		z-index: 5;
		bottom: 0;
		text-align: center;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		li{
			display: inline-block;
			padding: 0 .5rem;
			font-size: 4rem;
			color: transparent;
			opacity: .5;
			transition: all ease-in-out .3s;
			button{
				width: 3rem;
				height: 3rem;
				position: relative;
				&:before{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					content: '●';
					color: $ltBlue;
				}
			}
			&.slick-active{
				opacity: 1;
			}
		}
	}
	&:hover{
		.slick-arrow{
			opacity: .75;
			&:hover{
				opacity: 1;
				cursor: pointer;
			}
			&.slick-prev{
				left: 1rem;
			}
			&.slick-next{
				right: 1rem;
			}
		}
	}
	.slick-list{
		.slick-track{
			.slide{
				overflow: hidden;
				.text{
					font-size: 3rem;
					padding: 1.5rem;
					color: $dkBlue;
					@media screen and (min-width:1024px){
						padding-top: 15rem;
					}
				}
			}
		}
	}
}