.text-center{
	text-align: center;
}

.header{
	&.header-default{
		h1.iw-logo{
			height:8rem !important;
			a{
				img{
					&.sticky-logo{
						height: 6rem;
						width: auto;
					}
					&.logo-mobile{
						height: 5rem;
					}
				}
			}
			
		}
		.header-btn-action{
			height: 6rem !important;
			.notification{
				//display: none !important;
			}
			.iwj-author-desktop, .iwj-author-mobile{
				//display: none !important;
			}
			.btn-action-wrap{
				.off-canvas-btn{
					background-color: $dkBlue;
				}
			}
		}
		.navbar-default{
			.navbar-nav{
				li{
					a{
						height: 8rem !important;
						line-height: 8rem !important;
						font-size:1.5rem;
						text-transform: none !important;
					}
					&.menu-item-3911{
						//background-color: rgba($Orange,.15);
					}
				}
			}

			&.iw-header{
				background-color:rgba(248,248,248,1);

			}
		}

		.iw-top-bar-wrapper{
			background-color: rgba(99,99,99,1);
			.row{
				.top-bar-right{
					ul.register-login{
						list-style: none;
						display: inline-block;
						position: relative;
						padding: 0;
						&:after{
							display: none;
						}
						li{
							display: inline-block;
							position: relative;
							z-index: 5;
						}
						div#slipper{
							position: absolute;
							height: 100%;
							background: rgba(225,225,225,.2);
							border-radius: 15px;
							z-index: 1;
							transition: all ease-in-out .3s;
						}
					}
				}
			}
		}


	}
}

div.modal-header{
	background: $ltBlue;
}

.btn-action-wrap{
	.iwj-author-mobile{
		span{
			a{
				background: $ltBlue !important;
			}
		}
	}
	.notification{
		display: none !important;
	}
}

nav.off-canvas-menu{
	background-color: $dkBlue;
	h2{
		span{
			display: none;
		}
	}
	ul.canvas-menu{
		li{
			&.current-menu-item{
				background-color: $ltBlue;
				a{
					color: #fff;
				}
			}
			&.menu-item-3911{
				background-color: $Orange;
			}
		}
	}
}
.header.header-default.no-header-sticky.absolute.header-style-default.v1{
	//position: relative;
}

.orange{
	color: $Orange;
}

.bg-blue{
	background-color: #457197 !important;
}

a.button{
	background-color: $Orange;
	border-radius: 15px;
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 2rem 3rem;
	display: block;
	margin: 0 auto;
	&:hover{
		color: #fff !important;
		background-color: $dkOrange;
	}
	@media screen and (min-width:640px){
		display: inline-block;

	&:hover{
			color: #fff !important;
			background-color: $dkOrange;
		}
		
	}
}

body.page-template-text-page{
	.fullwidth{
		padding-top: 10rem;
		@media screen and (min-width:640px){
			padding-top: 13rem;
		}
		.content{
			padding-bottom: 2rem;
			@media screen and (min-width:640px){
				padding: 0 3rem 2rem 3rem;
			}
		}
	}
}

.text-content{
	color: #003764;
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 200;
}

.row{
	max-width: none;
	&.f-row{
		margin-right: auto;
		margin-left: auto;
		max-width: 130rem;
		.columns{
			background-color: #fff;
		}
	}
	.sp-banner-container{
		position: relative;
		background-color: #457197 !important;
		@media screen and (min-width:640px){
			background-color: #fff !important;
			padding: 2rem 0;
		}
		h2{
			color: #fff;
			display: block;
			font-size: 3rem;
			font-weight: 200;
			text-align: center;
			@media screen and (min-width:640px){
				background-color: #457197;
				text-align: left;
				display: inline-block;
				font-size: 3rem;
				padding: 1.5rem 3rem 1.5rem 6rem;
				margin: 0 0 0 -3rem;
				z-index: 2;
				position: relative;
				&:before{
					position: absolute;
					content: '';
					height: 1px;
					width: 1px;
					bottom: -3rem;
					left: 0rem;
					border-width: 1.5rem;
					border-style: solid;
					border-color: #003764 #003764 transparent transparent;
				}
				&:after{
					position: absolute;
					content: '';
					height: 100%;
					background-color: #457197;
					width: 16rem;
					top: 0;
					border-radius: 0 35px 15px 0;
					right: -8rem;
					transform: skewX(-35deg);
					z-index: -1;
				}
			}
		}
	}
}



.padding2rem{
	padding:2rem;
	}

	
.light-grey-color{
	color:#787878;
}

.list-items{
	li{
		&:nth-child(even) {
			background: linear-gradient(to right, #f7f7f7 ,#fff)
		}
	}
}	

#topper{
	.row{
		.columns{
			&.small-12-medium-6{
				@media screen and (max-width:640px){
				text-align: center;
			}
		}
		}
	}
}

.tab-box2{
	display: none !important;
}



.page-content-404 {
		
	.text_404{
			font-size: 100px !important;
		}

	.home_link {
			a {
				color:$Orange !important;
				border-bottom: none !important;
			}
		}

	}

	#preview-area{
		background:#457197 !important;
	}



	.header{
		.iw-header{
			.iw-menu-main{
				.navbar-nav{
					li {
						&:hover{
							.sub-menu{
								li{
									a{
										background-color:#f8f8f8 !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	
	.iw-top-bar-wrapper {
		.top-bar-right{
			 .iw-social-all {
				 li {
					 a{
						 &.instagram{
							 &:hover {
								background:#8a3ab9;
							 }
							}
						}
					}
				}
			}
		}
	
.menu-item-4167 a {color:#ED7D31 !important;}



.iwj-form-2 .skills-area .iwjmb-sort-clone div.iwjmb-field{
	width: 100%;
}
	
.menu-item-4167 {
	a {
	color:#ED7D31 !important;
	}
}


/*hiding registration link from login page*/
		
#nav a:nth-child(1){display:none !important;}
		
.login {
	#nav{
		padding:0 !important;
	}
}


.iwj-btn-secondary {
	background:$dkOrange;
	   &:hover {
	   background:$dkOrange;
	}
	   &:focus{
	   background:$dkOrange;
	}
	   &:active {
	   background:$dkOrange
	}
}
	
/*registration coupon button*/

div.s2member-pro-stripe-form-section>div.s2member-pro-stripe-form-coupon-div input[type="button"]{
	border: 1px solid #333;
	color: #333;
	padding-top: 9px;
}
